
body {
    overflow-x: hidden; 
    font-size: 18px; 
    margin: 0; 
    padding-top: 70px; /* מוודא שאין ריפוד מיותר */
}

* {
    box-sizing: border-box;
    max-width: 100%; 
}



.intro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #B2EBF2; /* צבע רקע תואם לסרטון (טורקיז בהיר) למניעת הבהוב */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999; /* תמיד הכי למעלה */
}

/* הגדרות הוידאו */
.intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* מוודא שהסרטון מכסה את כל המסך בלי שוליים */
}

/* אפקט כניסה חלק לאתר אחרי שהסרטון נעלם */
.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}